body{
   padding: 0;
   margin: 0;
    box-sizing: border-box;
}
.main_section{
  height: 800px;
  background-image: linear-gradient(to right,#DBEFEB,#F2F1EE,#E7F1EB);
}
.nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 8%;
    padding: 12px 0px;
}
.nav_icon{
    font-size: 50px;
   font-weight: 600;
   line-height: 30px;
   color: #54BD95;
}
.nav_mid ul{
    display: flex;
    list-style: none;
    align-items: center;
    color: #A6A6A6;
    gap: 50px;
    font-size: 20px;
    cursor: pointer;
}
.nav_right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav_right a{
    text-decoration: none;
    font-size: 22px;
    color:#A6A6A6;
}
#sign_in{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: #54BD95;
    border-radius: 20px;

}
/*home section*/
.home_contaier{
    display: flex;
    justify-content: space-between;
    margin: 0% 8%;
    margin-top: 30px;
}
.home_left{
    width: 50%;
}
.home_left h1{
    color: #191A15;
    font-size: 80px;
    font-weight: 700;
    font-style: bold;
    list-style: 90%;
}
.left_action{
    display: flex;
    align-items: center;
}
.left_action img{
    position: relative;
    left: 25px;
}
.home_left p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.left_action button{
    display: inline-block;
    width: 165px;
    height: 62px;
    color: white;
    font-size: 18px;
    line-height: 100%;
    border: none;
    border-radius: 30px;
    background-color: #54BD95;
}
.left_action span{
    position: relative;
    left: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}


.first_card{
    width: 260px;
    height: 65px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    left: -200px;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.first_card input{
    border: none;
}
.first_card a{
   
    position: absolute;
    top: 30%;
    right: 5%;
    text-decoration: none;
    width: 50px;
    font-size: 18px;
    text-align: center;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: #54BD95;
}
.first_card span{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 40%;
}
.home_right{
    width: 410px;
    height: 530px;
    margin-top: 50px;
    background-image: url("img/Frame\ 46.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
}
.second_card{
    width: 140px;
    height: 70px;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    top: 40%;
    left: -100px;
}
.second_card p{
    position: relative;
    top: 5px;
    color: rgb(181, 176, 176);
}
.second_card div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.cradit_card{
        position: absolute;
        top:50%;
        right: -120px;
}
.group_img1{
    position: absolute;
    top: 10%;
    right: -40px;
}
.group_img2{
    position: absolute;
    left: 80%;
    bottom: -30px;
}
.group_img3{
    position: absolute;
    left: -150px;
   
}